In [ ]:
import pandas as pd

from pathlib import Path
from pandas import DataFrame
from IPython.display import display # for debiging

PROJECT_ROOT: Path = Path().cwd().resolve()

In [29]:
raw_data: DataFrame = pd.read_csv(PROJECT_ROOT / 'life_quality.csv')
data: DataFrame = DataFrame()

categorial: list[str] = ['gender', 'occupation_type']
for colname in categorial:
    dummy: DataFrame = pd.get_dummies(raw_data[colname])
    data = pd.concat([data, dummy], axis=1)

to_create: list[str] = ['avg_work_hours_per_day', 'avg_rest_hours_per_day', 'avg_sleep_hours_per_day', 'avg_exercise_hours_per_day', 'age_at_death']
data[to_create] = raw_data[to_create]

In [ ]:
for colname in data.columns[:-5]:
    data[colname] = data[colname].astype(int)

data.drop(columns=['Female', 'Artist'], inplace=True)

# Expected life duration in USA
expected_men: int = 73
expected_women: int = 81

data['Long_life'] = 0

qry = (((data['age_at_death'] >= expected_men) & (data['Male'] == 1)) | ((data['age_at_death'] >= expected_women) & (data['Male'] == 1)))
data.loc[qry, 'Long_life'] = 1

data.drop(columns='age_at_death', inplace=True)
data['Long_life'].value_counts()

Long_life
0    6325
1    3675
Name: count, dtype: int64

In [31]:
data.head()

,Male,Consultant,Driver,Engineer,Entrepreneur,Freelancer,Healthcare Worker,Manager,Manual Laborer,Office Worker,Retail Worker,Scientist,Teacher,Technician,avg_work_hours_per_day,avg_rest_hours_per_day,avg_sleep_hours_per_day,avg_exercise_hours_per_day,Long_life
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,6.60,10.92,5.38,1.10,0
1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,9.65,7.65,6.31,0.39,1
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,13.77,1.00,8.02,1.21,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,10.94,5.18,7.59,0.29,0
4,1,0,0,1,0,0,0,0,0,0,0,0,0,0,9.81,5.11,7.38,1.70,1

In [32]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import NearMiss